<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body {% block body_attr %}{% endblock %}>
    <nav class="navbar navbar-light navbar-expand-md flex-row pl-0">
        <a href="/" class="navbar-brand "><img src="{% static 'img/logo.png' %}" style="width: 30px;" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mr-2">
                    <a class="btn" href="/">Tentang Kami</a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="/">Donasi</a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="/">DonasiMu</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <div>
                    <img src="{% static 'img/Ellipse.png'%}" alt="" style="width: 40px;">
                    <img class="my-auto mx-2" src="{% static 'img/Vector.png'%}" alt="" style="width: 10px; height: 10px;">
                </div>
                <div class="loginDash my-1  ">
                    <p>Selamat Datang!</p>
                    <p>Cicak bin Kadal</p>
                    <p>Mahasiswa di Fasilkom UI</p>
                </div>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>